@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* page design */
body {
	background-color: #282a2e;
	text-align: left;
	font-family: 'Roboto Mono', monospace;
	font-weight: normal;
	word-wrap: break-word;
	margin: 50px 50px 50px 50px;
}
h {
	color: #fefd30;
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
	font-weight: bold;
}
p {
	font-family: 'Roboto Mono', monospace;
	color: #fefd30;
	font-size: 20px;
}
strong {
	font-family: 'Roboto Mono', monospace;
	color: #ffffff;
	font-weight: bold;
}
footer {
	font-family: 'Roboto Mono', monospace;
	color: #fefd30;
	font-size: 14px;
	padding: 20px;
	text-align: center;
}
button {
}
.vowel {
	color: #282a2e;
}
.vowel-button {
	font-size: 20px;
	padding: 5px 5px;
	background-color: #fefd30;
	border: 0px;
	border-radius: 0px;
	cursor: pointer;
}
.vowel-chart {
	width: 500px;
	height: 350px;
	position: relative;
}

/* links */
a:link {
	color: #fffe82;
}
a:visited {
	color: #fffe64;
}
a:hover {
	color: #fefd30;
}
a:active {
	color: #000000;
}
